{% extends 'base_admin.html.twig' %}

{% block title %}Biblioteca{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Modificar Item</h3>
            </div>
            <div class="card-body">
                <span class="help-block">{{ form_errors(form) }}</span>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.codigo) }}
                            {{ form_widget(form.codigo, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.codigo) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.isbn) }}
                            {{ form_widget(form.isbn, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.isbn) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.nombre) }}
                            {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.nombre) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.autor) }}
                            {{ form_widget(form.autor, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.autor) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.editorial) }}
                            {{ form_widget(form.editorial, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.editorial) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.edad) }}
                            {{ form_widget(form.edad, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.edad) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.tipoItem) }}
                            {{ form_widget(form.tipoItem, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.tipoItem) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.estanteria) }}
                            {{ form_widget(form.estanteria, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.estanteria) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.fechaIncorporacion) }}
                            {{ form_widget(form.fechaIncorporacion, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.fechaIncorporacion) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.estadoItem) }}
                            {{ form_widget(form.estadoItem, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.estadoItem) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.imageFile) }}
                            {{ form_widget(form.imageFile, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.imageFile) }}</span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            {{ form_label(form.observaciones) }}
                            {{ form_widget(form.observaciones, { 'attr': {'class': 'form-control'} }) }}
                            <span class="invalid">{{ form_errors(form.observaciones) }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{{ path('biblioteca') }}" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
